nav {
  display: flex;
}

.header {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__brand {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  &__brand .active {
    border-bottom: none;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 1rem;
  }

  &__menu li {
    margin: 0 1rem;
    display: flex;
    align-items: center;
  }
}
