.search {
  display: inline-block;
  width: 100%;
  max-width: 600px;

  &__results {
    display: none;
  }

  &__results--active {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: size(12);
    border: solid 1px;
    border-color: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    ul {
      width: 100%;
      background: $grey--dark;
      border: solid 1px;
      border-color: transparent;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      li > a {
        display: block;
        padding: size(12);
        color: white;
        transition: ease 0.1s;
        border: solid 1px;
        border-color: transparent;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &:hover {
          background: $grey--dark;
          color: $blue;
        }
      }
    }

    span {
      width: 100%;
      padding: size(12);
      background: $grey--dark;
    }
  }

  .input {
    margin-bottom: 0;
  }
}
